<a href="https://colab.research.google.com/github/adityansnair/Examples/blob/master/PySpark_Ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 70kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 18.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=d1a27a24310dd1941b5f7a7380047f39b888b22ab80185773fcc45daff23f170
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [126]:
import csv
import nltk
from pyspark.sql import Row
from pyspark.sql.functions import col,lit

In [17]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[1]").appName("SparkByExamples.com").getOrCreate()

In [105]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]
data2 = [(('James','','Smith'),'1991-04-01','M',3000),
  (('Michael','Rose',''),'2000-05-19','M',4000),
  (('Robert','','Williams'),'1978-09-05','M',4000),
  (('Maria','Anne','Jones'),'1967-12-01','F',4000),
  (('Jen','Mary','Brown'),'1980-02-17','F',-1)
]
columns = ["firstname","middlename","lastname","dob","gender","salary"]

schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("dob", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", IntegerType(), True) \
  ])

schema2 = StructType([
        StructField('name', StructType([
             StructField('firstname', StringType(), True),
             StructField('middlename', StringType(), True),
             StructField('lastname', StringType(), True)
             ])),
         StructField('dob', StringType(), True),
         StructField('gender', StringType(), True),
         StructField("salary", IntegerType(), True) \
         ])

#PySpark RDD – Resilient Distributed Dataset

##parallelize() method is used to create an RDD from a list.

In [32]:

#Create RDD from parallelize   

rdd=spark.sparkContext.parallelize(data)

##textFile() method is used to create an RDD from a text file

In [16]:
//Create RDD from external Data source
rdd2 = spark.sparkContext.textFile("/path/textFile.txt")

SyntaxError: ignored

#PySpark DataFrame

##Create DataFrame from RDD

###Using toDF() function : to create a DataFrame from existing RDD

In [33]:
dfFromRDD1 = rdd.toDF()
dfFromRDD1.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: string (nullable = true)
 |-- _4: string (nullable = true)
 |-- _5: string (nullable = true)
 |-- _6: long (nullable = true)

In [37]:
dfFromRDD1 = rdd.toDF(columns)
dfFromRDD1.printSchema()
dfFromRDD1.show()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

###Using createDataFrame() from SparkSession by RDD as argument

In [40]:
df = spark.createDataFrame(rdd, schema = columns)
df.printSchema()
df.show()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

## Create DataFrame from List Collection

###Using createDataFrame() from SparkSession

In [43]:
dfFromData2 = spark.createDataFrame(data, schema=columns)
dfFromData2.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

###Using createDataFrame() with the Row type

In [54]:
rowData = map(lambda x: Row(*x), data) 
dfFromData3 = spark.createDataFrame(rowData,columns)
dfFromData3.printSchema()
dfFromData3.show()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

###Create DataFrame with schema

In [93]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
 
df = spark.createDataFrame(data=data,schema=schema)
df.printSchema()
df.show()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

##Create DataFrame from Data sources

###Creating DataFrame from CSV

In [53]:
df2 = spark.read.csv("/src/resources/file.csv")

###Creating from text (TXT) file

In [ ]:
df2 = spark.read.text("/src/resources/file.txt")

###Creating from JSON file

In [ ]:
df2 = spark.read.json("/src/resources/file.json")

###PySpark Read and Write Parquet File

In [ ]:
df.write.parquet("/tmp/out/people.parquet") 
parDF1=spark.read.parquet("/temp/out/people.parquet")

#PySpark withColumnRenamed to Rename Column on DataFrame

###PySpark withColumnRenamed – To rename DataFrame column name

In [106]:
df = spark.createDataFrame(data = data2, schema = schema2)
df.printSchema()
df.withColumnRenamed("dob","DateOfBirth").printSchema()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- DateOfBirth: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

###PySpark withColumnRenamed – To rename multiple columns

In [99]:
df2 = df.withColumnRenamed("dob","DateOfBirth") \
    .withColumnRenamed("salary","salary_amount")
df2.printSchema()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- DateOfBirth: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- gender: integer (nullable = true)

###Using PySpark StructType – To rename a nested column in Dataframe

In [100]:
schema3 = StructType([
    StructField("fname",StringType()),
    StructField("middlename",StringType()),
    StructField("lname",StringType())])
schema3

StructType(List(StructField(fname,StringType,true),StructField(middlename,StringType,true),StructField(lname,StringType,true)))

In [108]:
df.select(col("name").cast(schema3),col("dob"),col("gender"),col("salary")).printSchema()

root
 |-- name: struct (nullable = true)
 |    |-- fname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

### Using Select – To rename nested elements.

In [110]:
df.select(col("name.firstname").alias("fname"),col("name.middlename").alias("mname"),col("name.lastname").alias("lname"),col("dob"),col("gender"),col("salary")).printSchema()

root
 |-- fname: string (nullable = true)
 |-- mname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

###Using PySpark DataFrame withColumn

####To rename nested columns

In [115]:
df4 = df.withColumn("fname",col("name.firstname")).withColumn("mname",col("name.middlename")).withColumn("lname",col("name.lastname")).drop("name")
df4.printSchema()

root
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- fname: string (nullable = true)
 |-- mname: string (nullable = true)
 |-- lname: string (nullable = true)

####To update or add a column - Change column DataType using PySpark withcolumn

In [119]:
df2 = df.withColumn("salary",col("salary").cast("Integer"))
df2.printSchema()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

####To update or add a column - Update the value of an existing column

In [123]:
df3 = df.withColumn("salary",col("salary")*100)
df3.show()

+--------------------+----------+------+------+
|                name|       dob|gender|salary|
+--------------------+----------+------+------+
|    {James, , Smith}|1991-04-01|     M|300000|
|   {Michael, Rose, }|2000-05-19|     M|400000|
|{Robert, , Williams}|1978-09-05|     M|400000|
|{Maria, Anne, Jones}|1967-12-01|     F|400000|
|  {Jen, Mary, Brown}|1980-02-17|     F|  -100|
+--------------------+----------+------+------+

####To update or add a column - Create a new column from an existing

In [124]:
df4 = df.withColumn("CopiedColumn",col("salary")* -1)
df3.printSchema()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

####To update or add a column - Add a new column using withColumn()

In [128]:
df5 = df.withColumn("Country", lit("USA"))
df5.show()

df6 = df.withColumn("Country", lit("USA")) \
   .withColumn("anotherColumn",lit("anotherValue"))
df6.show()

+--------------------+----------+------+------+-------+
|                name|       dob|gender|salary|Country|
+--------------------+----------+------+------+-------+
|    {James, , Smith}|1991-04-01|     M|  3000|    USA|
|   {Michael, Rose, }|2000-05-19|     M|  4000|    USA|
|{Robert, , Williams}|1978-09-05|     M|  4000|    USA|
|{Maria, Anne, Jones}|1967-12-01|     F|  4000|    USA|
|  {Jen, Mary, Brown}|1980-02-17|     F|    -1|    USA|
+--------------------+----------+------+------+-------+

+--------------------+----------+------+------+-------+-------------+
|                name|       dob|gender|salary|Country|anotherColumn|
+--------------------+----------+------+------+-------+-------------+
|    {James, , Smith}|1991-04-01|     M|  3000|    USA| anotherValue|
|   {Michael, Rose, }|2000-05-19|     M|  4000|    USA| anotherValue|
|{Robert, , Williams}|1978-09-05|     M|  4000|    USA| anotherValue|
|{Maria, Anne, Jones}|1967-12-01|     F|  4000|    USA| anotherValue|
|  {Jen, Mary, Brown}|1980-02-17|     F|    -1|    USA| anotherValue|
+--------------------+----------+------+------+-------+-------------+

####Rename column name

In [129]:
df.withColumnRenamed("gender","sex").show(truncate=False)

+--------------------+----------+---+------+
|name                |dob       |sex|salary|
+--------------------+----------+---+------+
|{James, , Smith}    |1991-04-01|M  |3000  |
|{Michael, Rose, }   |2000-05-19|M  |4000  |
|{Robert, , Williams}|1978-09-05|M  |4000  |
|{Maria, Anne, Jones}|1967-12-01|F  |4000  |
|{Jen, Mary, Brown}  |1980-02-17|F  |-1    |
+--------------------+----------+---+------+

####Drop a column from PySpark DataFrame

In [130]:
df4.drop("CopiedColumn").show(truncate=False)

+--------------------+----------+------+------+
|name                |dob       |gender|salary|
+--------------------+----------+------+------+
|{James, , Smith}    |1991-04-01|M     |3000  |
|{Michael, Rose, }   |2000-05-19|M     |4000  |
|{Robert, , Williams}|1978-09-05|M     |4000  |
|{Maria, Anne, Jones}|1967-12-01|F     |4000  |
|{Jen, Mary, Brown}  |1980-02-17|F     |-1    |
+--------------------+----------+------+------+

### Using toDF() – To change all columns in a PySpark DataFrame

In [116]:
newColumns = ["newCol1","newCol2","newCol3","newCol4"]
df.toDF(*newColumns).printSchema()

root
 |-- newCol1: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- newCol2: string (nullable = true)
 |-- newCol3: string (nullable = true)
 |-- newCol4: integer (nullable = true)